@*<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Baucer
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-area="" asp-controller="AkPV" asp-action="Index">Baucer Pembayaran</a>
        <a class="dropdown-item" asp-area="" asp-controller="AkJurnal" asp-action="Index">Baucer Jurnal</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="" asp-controller="LaporanBaucer" asp-action="Index">LPV001 Laporan Daftar Bil</a>
    </div>
</li>*@

<li class="nav-item">
    <a class="nav-link collapsed text-truncate
    @Html.ActiveClass("AkPV") 
    @Html.ActiveClass("AkCimbEFT") 
    @Html.ActiveClass("AkJurnal")" href="#submenuBaucer" data-toggle="collapse" data-target="#submenuBaucer"><i class="fas fa-money-bill pr-2"></i><span class="pl-1">Baucer</span></a>
    <div class="collapse" id="submenuBaucer" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkPV")" asp-controller="AkPV" asp-action="Index"><span>Baucer Pembayaran</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkCimbEFT")" asp-controller="AkCimbEFT" asp-action="Index"><span>Biz Channel</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkJurnal")" asp-area="" asp-controller="AkJurnal" asp-action="Index"><span>Baucer Jurnal</span></a></li>
        </ul>
    </div>
</li>