<!--<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Daftar
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-area="" asp-controller="AkPembekal" asp-action="Index">Pembekal</a>-->
        @*<a class="dropdown-item" asp-area="" asp-controller="" asp-action="UnderMaintainance">Pelanggan</a>*@
        <!--<a class="dropdown-item" asp-area="" asp-controller="SuPekerja" asp-action="Index">Anggota</a>
        <a class="dropdown-item" asp-area="" asp-controller="SuAtlet" asp-action="Index">Atlet</a>
        <a class="dropdown-item" asp-area="" asp-controller="SuJurulatih" asp-action="Index">Jurulatih</a>
    </div>
</li>-->

<li class="nav-item">
    <a class="nav-link collapsed text-truncate
    @Html.ActiveClass("SuPekerja") 
    @Html.ActiveClass("AkPembekal") 
    @Html.ActiveClass("AkPenghutang") 
    @Html.ActiveClass("AkTunaiRuncit")" href="#submenuDaftar" data-toggle="collapse" data-target="#submenuDaftar"><i class="fa fa-user-edit pr-2"></i><span class="pl-0">Daftar</span> </a>
    <div class="collapse" id="submenuDaftar" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("SuPekerja")" asp-controller="SuPekerja" asp-action="Index"><span>Anggota</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkPembekal")" asp-controller="AkPembekal" asp-action="Index"><span>Pembekal</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkPenghutang")" asp-controller="AkPenghutang" asp-action="Index"><span>Penghutang</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkTunaiRuncit")" asp-controller="AkTunaiRuncit" asp-action="Index"><span>Pemegang Tunai Runcit</span></a></li>
        </ul>
    </div>
</li>