<li class="nav-item">
    <a class="nav-link collapsed text-truncate
    @Html.ActiveClass("JBahagian") 
    @Html.ActiveClass("JKW")
    @Html.ActiveClass("AkBank") 
    @Html.ActiveClass("JBank")
    @Html.ActiveClass("JCaraBayar")
    @Html.ActiveClass("JAgama") 
    @Html.ActiveClass("JBangsa")
    @Html.ActiveClass("JSukan") 
    @Html.ActiveClass("JTahapAktiviti") 
    @Html.ActiveClass("JNegeri")
    @Html.ActiveClass("JSuTarafJawatan")
    @Html.ActiveClass("JSuGredGaji")
    
    " href="#submenuJadual" data-toggle="collapse" data-target="#submenuJadual"><i class="fas fa-columns pr-2
    "></i><span class="pl-1">Jadual</span></a>
    <div class="collapse" id="submenuJadual" aria-expanded="false">
        <ul class="flex-column pl-2 nav">

            <li class="nav-item">
                <a class="nav-link  text-truncate collapsed py-1 ml-3
                @Html.ActiveClass("JBahagian")
                @Html.ActiveClass("JKW")" href="#submenuJadualsub1" data-toggle="collapse" data-target="#submenuJadualsub1"><span>Belanjawan</span></a>
                <div class="collapse" id="submenuJadualsub1" aria-expanded="false">
                    <ul class="flex-column nav pl-4">
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate pl-4 @Html.ActiveSideBarClass("JBahagian")" asp-area="" asp-controller="JBahagian" asp-action="Index">
                                Bahagian
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate pl-4 @Html.ActiveSideBarClass("JKW")" asp-area="" asp-controller="JKW" asp-action="Index">
                                Kumpulan Wang
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link  text-truncate collapsed py-1 ml-3
                @Html.ActiveClass("JBank")" href="#submenuJadualsub2" data-toggle="collapse" data-target="#submenuJadualsub2"><span>Pembayaran / Penerimaan</span></a>
                <div class="collapse" id="submenuJadualsub2" aria-expanded="false">
                    <ul class="flex-column nav pl-4">
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate pl-4 @Html.ActiveSideBarClass("JBank")" asp-area="" asp-controller="JBank" asp-action="Index">
                                Bank
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link  text-truncate collapsed py-1 ml-3
                @Html.ActiveClass("JAgama")
                @Html.ActiveClass("JBangsa")" href="#submenuJadualsub3" data-toggle="collapse" data-target="#submenuJadualsub3"><span>Pendaftaran</span></a>
                <div class="collapse" id="submenuJadualsub3" aria-expanded="false">
                    <ul class="flex-column nav pl-4">
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate pl-4 @Html.ActiveSideBarClass("JAgama")" asp-area="" asp-controller="JAgama" asp-action="Index">
                                Agama
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-1 text-truncate pl-4 @Html.ActiveSideBarClass("JBangsa")" asp-area="" asp-controller="JBangsa" asp-action="Index">
                                Bangsa
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("JSukan")" asp-area="" asp-controller="JSukan" asp-action="Index"><span>Sukan</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("JTahapAktiviti")" asp-area="" asp-controller="JTahapAktiviti" asp-action="Index"><span>Tahap Aktiviti</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("JNegeri")" asp-area="" asp-controller="JNegeri" asp-action="Index"><span>Negeri</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("JSuTarafJawatan")" asp-area="" asp-controller="JSuTarafJawatan" asp-action="Index"><span>Taraf Jawatan</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("JSuGredGaji")" asp-area="" asp-controller="JSuGredGaji" asp-action="Index"><span>Gred Gaji</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("JSuKodGaji")" asp-area="" asp-controller="JSuKodGaji" asp-action="Index"><span>Kod Gaji</span></a></li>
        </ul>
    </div>
</li>