

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SUMBER</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />


    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
    <partial name="_Favicons" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/moment.js/moment-with-locales.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.js" integrity="sha512-B+gr+zLWg81qxVwvtYwKrmjvQtZKD/GGFF7jD80OfzbqFw+NsbS5faEqpCO7Q7oRw1bYi0+WLJf54j8Vm7NADw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @*<script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>*@
</head>


<body class="ac-bg">
    <script type="text/javascript">
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });
    </script>
    <style>

        .nav-link {
            color: #343a40;
        }


        .bg-super {
            background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        }

            .bg-super .nav-link {
                color: white;
            }
    </style>

    @{
        var navtype = "";
        var texttype = "";

        var user = UserManager.GetUserAsync(User);
        var namaUser = _context.applicationUsers.FirstOrDefault(x => x.Email == user.Result.Email);
        var pekerja = _context.SuPekerja.FirstOrDefault(x => x.Id == namaUser.SuPekerjaId);
        var jawatan = "Super Admin";
        if (pekerja != null)
        {
            jawatan = pekerja.Jawatan;
        }
   
        var bulan = Tools.BulanSingkatan(DateTime.Now.ToString("MM"));

        var tarikh = DateTime.Now.ToString("dd") + " " + bulan +  " " + DateTime.Now.ToString("yyyy");

        var hari = Tools.Hari(DateTime.Now.ToString("dddd"));

    }
    @if (User.IsInRole("Admin"))
    {
        navtype = "bg-dark navbar-dark";
        texttype = "text-light";
    }
    else if (User.IsInRole("Supervisor"))
    {
        navtype = "bg-info navbar-dark";
        texttype = "text-light";
    }
    else if (User.IsInRole("User"))
    {
        navtype = "bg-light navbar-light";
    }
    else
    {
        navtype = "l-bg-super navbar-dark";
        texttype = "text-light";
    }
    <!-- horizontal navbar -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm box-shadow">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/img/MainLogo_Syarikat.webp" alt="Logo syarikat" style="width: 40px; height: 40px; align-content: center; height: 100%;" class="border border-light rounded-circle" />
                </a>
                <h5 class=" mb-0 hidden-mobile">Majlis Sukan Negeri Kedah (MSNK SUMBER)</h5>
                <h5 class=" mb-0 show-mobile">SUMBER</h5>

                <div class=" d-inline">
                    <div class="col-12 navbar-nav float-right">
                        <partial name="_LoginPartialNavbar" />
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- horizontal navbar end -->
    <!-- Vertical navbar -->
    <div class="vertical-nav l-bg-light card" id="sidebar">
        <div class="py-4 px-3 @navtype card-header">
            <div class="media d-flex align-items-center">

                <img src="~/img/MainLogo_Syarikat.webp" alt="Logo syarikat" width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                    <h5 class="m-0 @texttype">@namaUser.Nama</h5>
                    <p class="font-weight-light @texttype mb-0">@jawatan</p>
                </div>
            </div>
        </div>
        <div class="card-body" style="overflow-y: scroll;">

            @if (User.Identity.IsAuthenticated)
            {

                @if (User.IsInRole("SuperAdmin"))
                {
                    <div class="form-group">
                        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-2 mb-0">Menu Utama</p>

                        <ul class="nav flex-column l-bg-light mb-0">
                            <partial name="_SistemPartialNavbar" />
                            <partial name="_JadualPartialNavbar" />
                            <partial name="_DaftarPartialNavbar" />
                        </ul>
                    </div>

                    <div class="form-group">
                        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-2 mb-0">Pengurusan</p>

                    </div>

                }
                else if (User.IsInRole("Admin"))
                {
                    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-2 mb-0">Menu Utama</p>

                    <ul class="nav flex-column l-bg-light mb-0">
                        <partial name="_SistemPartialNavbar" />
                    </ul>
                }
                else if (User.IsInRole("Supervisor"))
                {
                    <div class="form-group">
                        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-2 mb-0">Menu Utama</p>

                        <ul class="nav flex-column l-bg-light mb-0">
                            <partial name="_JadualPartialNavbar" />
                            <partial name="_DaftarPartialNavbar" />
                        </ul>
                    </div>

                    <div class="form-group">
                        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-2 mb-0">Pengurusan</p>

                    </div>
                }
                else
                {
                    <div class="form-group">
                        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-2 mb-0">Pengurusan</p>

                    </div>
                }
            }

        </div>
        
    </div>
    <!-- End vertical navbar -->
    <!-- Page content holder -->
    <div class="page-content p-3" id="content">
        <!-- Toggle button -->

        <div class="container-fluid">
            <div class="d-inline">
                <button id="sidebarCollapse" type="button" class="btn ac-tertiary shadow-sm mb-3 sticky-top">
                    <i class="fa fa-bars pr-2"></i> Menu Utama</button>
            </div>
            <div class="d-inline pl-2">
                <button type="button" class="btn ac-light shadow-sm mb-3 sticky-top">
                    <i class="fa fa-calendar pr-2"></i> 
                    @hari, @tarikh <span id="ct6"></span></button>
            </div>
            <a id="timer"></a>
            

            <main role="main" class="pb-3">
                <partial name="_Notifications" />
                <partial name="_ToTopButton" />
                @RenderBody()
            </main>
        </div>



        <footer class="border-top footer text-muted">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <p class="float-left">&copy; 2022 - MSNK</p>
                    </div>
                    <div class="col-lg-4 text-right pr-5">
                        
                        
                    </div>
    
                </div>
                <div class="form-row">
                    
                    @*<p class="float-left">&copy; 2022 - MSNK - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privasi</a></p>
                    <p class="float-right">@hari, @tarikh</p>
                    <span class="text-right" id="ct6"></span> *@
                </div>
                
                
                
            </div>
        </footer>

    </div>
    <!-- End demo content -->




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
