@*<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Lejar
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-area="" asp-controller="AkCarta" asp-action="Index">Carta Akaun</a>
        <a class="dropdown-item" asp-area="" asp-controller="AkAkaun" asp-action="Index">Lejar Am</a>
        <a class="dropdown-item" asp-area="" asp-controller="AbBukuVot" asp-action="Index">Buku Vot</a>
    </div>
</li>*@

<li class="nav-item">
    <a class="nav-link collapsed text-truncate
    @Html.ActiveClass("AkCarta")
    @Html.ActiveClass("AkAkaun")
    @Html.ActiveClass("AbBukuVot")" href="#submenuLejar" data-toggle="collapse" data-target="#submenuLejar"><i class="fa fa-book pr-2"></i><span class="pl-1">Lejar</span></a>
    <div class="collapse" id="submenuLejar" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkCarta")" asp-controller="AkCarta" asp-action="Index"><span>Carta Akaun</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AkAkaun")" asp-area="" asp-controller="AkAkaun" asp-action="Index"><span>Lejar Am</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AbBukuVot")" asp-area="" asp-controller="AbBukuVot" asp-action="Index"><span>Buku Vot</span></a></li>
        </ul>
    </div>
</li>