@*<li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sistem
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Maklumat Pengguna</a>
        <a class="dropdown-item" asp-area="" asp-controller="Roles" asp-action="Index">Maklumat Tahap Pengguna</a>
        <a class="dropdown-item" asp-area="" asp-controller="AppLog" asp-action="Index">Log Transaksi Pengguna</a>
    </div>
</li>*@
<li class="nav-item">
    <a class="nav-link collapsed text-truncate 
    @Html.ActiveClass("User") 
    @Html.ActiveClass("Roles") 
    @Html.ActiveClass("AppLog") 
    @Html.ActiveClass("SiAppInfo")" 
    href="#submenuSistem" data-toggle="collapse" data-target="#submenuSistem"><i class="fa fa-cubes pr-2"></i><span class="pl-1">Sistem</span></a>
    <div class="collapse" id="submenuSistem" aria-expanded="false">
        <ul class="flex-column pl-2 nav">
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("User")" asp-controller="User" asp-action="Index"><span>Maklumat Pengguna</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("Roles")" asp-area="" asp-controller="Roles" asp-action="Index"><span>Maklumat Tahap Pengguna</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("AppLog")" asp-area="" asp-controller="AppLog" asp-action="Index"><span>Log Transaksi Pengguna</span></a></li>
            <li class="nav-item"><a class="nav-link py-1 ml-3 @Html.ActiveSideBarClass("SiAppInfo")" asp-area="" asp-controller="SiAppInfo" asp-action="Index"><span>Info Syarikat</span></a></li>
        </ul>
    </div>
</li>