@model SUMBER.Models.Sumber.JSuGredGaji

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JSuGredGaji</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perihal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perihal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlHapus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlHapus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarHapus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarHapus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuPekerjaMasukId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuPekerjaMasukId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarMasuk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarMasuk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuPekerjaKemaskiniId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuPekerjaKemaskiniId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserIdKemaskini)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserIdKemaskini)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TarKemaskini)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TarKemaskini)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
