@model SUMBER.Models.Administration.ApplicationUser
@{
    ViewData["Title"] = "Maklumat Pengguna - Ubah";
}

<div class="row">
    <div class="col-md-12">
        <div class="card box-shadow">

            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-uppercase text-primary mb-0">Maklumat Pengguna - Ubah</h5>
                        <span class="ac-ref"><a asp-controller="User" asp-action="Index" class="text-secondary">Indeks</a> / Ubah</span>
                    </div>
                    <div class="col-4 text-right">
                        <a asp-controller="User" asp-action="Index" class="text-secondary"><i class="fas fa-times fa-2x"></i></a>
                    </div>

                </div>
                <hr class="mt-2" />
                <form method="post" asp-action="Edit">
                    <input asp-for="@Model.Id" hidden />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nama"></label>
                        <input asp-for="Nama" class="form-control form-control-sm" />
                        <span asp-validation-for="Nama" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Emel</label>
                        <input asp-for="Email" readonly class="form-control form-control-sm" />
                        <input asp-for="Email" hidden />
                    </div>
                    <div class="form-group">
                        <label asp-for="RoleId">Tahap Pengguna</label>
                        <select asp-for="SelectedRoleList" asp-items="@Model.RoleList" class="form-control form-control-sm select2" multiple="multiple">
                            @*<option disabled selected>-- Pilih Tahap Pengguna --</option>*@
                        </select>
                        @foreach (var s in ViewBag.SelectedRole)
                        {
                            <span class="badge ac-light">@s</span>
                        }
                    </div>

                    <div class="form-group">
                        <label asp-for="JBahagianList"></label>
                        <select asp-for="SelectedJBahagianList" class="form-control form-control-sm select2" multiple="multiple">
                            @foreach (var s in ViewBag.JBahagian)
                            {
                                <option value="@s.Id">@s.Perihal </option>
                            }
                        </select>
                        @foreach (var s in ViewBag.SelectedJBahagian)
                        {
                            <span class="badge ac-light">@s</span>
                        }
                    </div>
                    <hr />
                    <div class="form-group">
                        <button type="submit" class="btn ac-primary btn-sm">Simpan</button>
                        <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

