<script type="text/javascript">

    //validation form
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $(document).ready(function () {
        $.validator.setDefaults({
            errorElement: "span",
            errorClass: "help-block",
            //	validClass: 'stay',
            highlight: function (element, errorClass) {
                $(element).addClass(errorClass); //.removeClass(errorClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass); //.addClass(validClass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },

            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }

            },

        });
    });
    //validation form end

    //ProfilGaji

    //empty cart profilgaji
    function EmptyCart() {
        $.ajax({
            type: "POST",
            //url: "/AkPV/JsonEmptyCart",
            url: "/SuPekerja/JsonEmptyCart1",
            //url: '@Url.
            // Action("JsonEmptyCart", "SuProfilGaji")',
            dataType: "json",
            success: function (msg) {
                $("table tbody#tbodyObjek").empty();
                $("#jumlahObjek").val("0.00");
                //$("#txtKodGaji option").prop('disabled', false);

            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    };
    //empty cart profil gaji end

    //add tbl profil gaji
    $("body").on("click", "#btnAdd2", function () {
        //Reference the kod gaji TextBoxes.
        var txtKodGaji = $("#txtKodGaji");

        if (txtKodGaji.val() != null) {
            GetCarta(txtKodGaji.val());
        }
    });

    function GetCarta(id) {
        var Objek = {
            Id: id
        }
        if (id != null) {
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                //url: "/SuProfilGaji/GetCarta",
                url: "/SuPekerja/GetCarta",
                //url: '@Url.
                // ("GetCarta", "SuProfilGaji")',
                data: Objek,
                dataType: "json",
                success: function (r) {
                    //Reference the TextBoxes.
                    var txtKodGaji = $("#txtKodGaji");
                    var txtElaun = $("#txtElaun");
                    var txtPotongan = $("#txtPotongan");
                    var txtFlKWSP = $("#txtFlKWSP");
                    //var txtJumlah = $("#jumlahObjek");

                    var SuProfilGaji = {
                        //suPekerjaId: suPekerjaId,
                        JSuKodGajiId: txtKodGaji.val(),
                        Elaun: txtElaun.val(),
                        Potongan: txtPotongan.val(),
                        FlKWSP: txtFlKWSP.val()
                    }
                    var myData = {};
                    myData.SuProfilGaji = SuProfilGaji;

                    $.ajax({
                        type: "POST",
                        //url: "/SuProfilGaji/SaveSuProfilGaji",
                        url: "/SuPekerja/SaveSuProfilGaji",
                        //url: '@Url.
                        // ("SaveSuProfilGaji", "SuProfilGaji")',
                        data: myData,
                        dataType: "json",
                        success: function (b) {
                            if (b.result == "OK") {

                                //Get the reference of the Table's TBODY element.
                                var tBody = $("#tblObjek > TBODY")[0];
                                //Add Row.
                                var row = tBody.insertRow(-1);

                                //Add kod gaji id cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(r.record.id);
                                cell.prop("hidden", !this.checked);

                                //Add kod gaji cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(r.record.kod + ' - ' + r.record.perihal);

                                //Add elaun cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(parseFloat(txtElaun.val()).toFixed(2));
                                cell.attr("id", "td1Elaun_" + r.record.Id);
                                cell.addClass('text-right');

                                //Add potongan cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(parseFloat(txtPotongan.val()).toFixed(2));
                                cell.attr("id", "td1Potongan_" + r.record.Id);
                                cell.addClass('text-right');

                                //Add flkwsp cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(txtFlKWSP.val());

                                //Add Edit Button cell.
                                cell = $(row.insertCell(-1));

                                var btnUpdate1 = $("<button class='btn ac-primary btn-sm' type='button' id='btnUpdate1' onclick='Update1(this)'><i class='fas fa-edit'></i></button>");
                                cell.append(btnUpdate1);

                                //Add Button cell.
                                cell = $(row.insertCell(-1));
                                var btnRemove1 = $("<button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)'><i class='fas fa-trash'></i></button>");
                                cell.append(btnRemove1);
                                //Clear the TextBoxes.
                                txtKodGaji.val("").trigger('change');
                                txtElaun.val("0.00");
                                txtPotongan.val("0.00");
                                txtFlKWSP.val("Tidak");

                            }
                            else {
                                toastr.error(b.message,"Ralat");
                                toastr.options.timeOut = 2000; // 2s
                            }

                        }
                    });



                }
            });
        }

    }
    //add tbl profil gaji end

    //remove tbl profil gaji
    function Remove1(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        var namaAkaun = $("TD", row).eq(1).html();
        var elaun = $("TD", row).eq(2).html();
        var potongan = $("TD", row).eq(4).html();
        var txtJumlah = $("#jumlahObjek");
        if (confirm("Hapus kod Gaji : " + namaAkaun + " ?")) {
            //Get the reference of the Table.
            var table = $("#tblObjek")[0];

            var SuProfilGaji = {
                JSuKodGajiId: name
            }
            if (name != null) {
                $.ajax({
                    type: "POST",
                    //url: "/SuProfilGaji/RemoveSuProfilGaji",
                    //url: "/SuPekerja/RemoveSuProfilGaji",
                    url: '@Url.Action("RemoveSuProfilGaji", "SuPekerja")',
                    data: SuProfilGaji,
                    dataType: "json",
                    success: function (r) {
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                    }
                });
            }

        }
    };
    //remove tbl profil gaji end

    //update tbl profil gaji
    function Update1(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var jSuKodGajiId = $("TD", row).eq(0).html();

        var SuProfilGaji = {
            JSuKodGajiId: jSuKodGajiId
        }
        $.ajax({
            type: "POST",
            //url: "/SuProfilGaji/GetAnItemCartSuProfilGaji",
            url: "/SuPekerja/GetAnItemCartSuProfilGaji",
            //url: '@Url.
            //Action("GetAnItemCartSuProfilGaji", "SuProfilGaji")',
            data: SuProfilGaji,
            dataType: "json",
            success: function (r) {
                //insert data in modal profil gaji
                $("#moId").val(r.record.id);
                $("#moKodGaji").val(r.record.jSuKodGajiId);
                $("#moElaun").val(r.record.elaun.toFixed(2));
                $("#moPotongan").val(r.record.potongan.toFixed(2));
                $("#moFlKWSP").val(r.record.flKWSP);

                //show modal profil gaji
                $("#modalObjek1").modal({ backdrop: 'static', keyboard: false });

            }
        });
    };

    function modalUpdate1() {
        //var id = $("#moId").val();
        //var suPekerjaId = $("#moSuPekerja").val();
        var jSuKodGajiId = $("#moKodGaji").val();
        var elaun = $("#moElaun").val();
        var potongan = $("#moPotongan").val();
        var flKWSP = $("#moFlKWSP").val();
        var jumlah = $("#jumlahObjek");

        var SuProfilGaji = {
            //Id: id,
            //SuPekerjaId: suPekerjaId,
            JSuKodGajiId: jSuKodGajiId,
            Elaun: elaun,
            Potongan: potongan,
            FlKWSP: flKWSP
        }
        var myData = {};
        myData.SuProfilGaji = SuProfilGaji;

        $.ajax({
            type: "POST",
            //url: "/SuProfilGaji/SaveCartSuProfilGaji",
            url: "/SuPekerja/SaveCartSuProfilGaji",
            //url: '@Url.
            // Action("SaveCartSuProfilGaji", "SuProfilGaji")',
            data: myData,
            dataType: "json",
            success: function (b) {
                //insert notification here

                if (b.result == "OK") {
                    $.ajax({
                        type: "POST",
                        //url: "/SuProfilGaji/GetAllItemCartSuProfilGaji",
                        url: "/SuPekerja/GetAllItemCartSuProfilGaji",
                        //url: '@Url.
                        // Action("GetAllItemCartSuProfilGaji", "SuProfilGaji")',
                        //data: SuProfilGaji,
                        dataType: "json",
                        success: function (r) {

                            //refresh updated table objek
                            $("table tbody#tbodyObjek").empty();
                            var sum = 0;
                            
                            if (r.record.length > 0) {
                                for (var i = 0; i < r.record.length; i++) {
                                    var item1 = r.record[i];

                                    var str = "<tr><td id='jSuKodGajiId' hidden>" + item1.jSuKodGajiId +
                                        "</td><td>" + item1.jSuKodGaji.kod + " - " + item1.jSuKodGaji.perihal +
                                        "</td><td class='text-right'>" + (item1.elaun).toFixed(2) +
                                        "</td><td class='text-right'>" + (item1.potongan).toFixed(2) + 
                                        "</td><td >" + item1.flKWSP +
                                        "</td><td>" +
                                        "<button class='btn ac-primary btn-sm' type='button' id='btnUpdate1' data-toggle='modal' data-target='#modalObjek1' onclick='Update1(this)'><i class='fa fa-edit' ></i></button>" +
                                        "</td><td>" +
                                        "<button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)'><i class='fas fa-trash' ></i></button>" +
                                        "</td><tr>";
                                    
                                    $("table tbody#tbodyObjek").append(str);
                                }
                            }
                            jumlah.val(sum.toFixed(2));

                        }
                    });
                } else {
                    toastr.error(b.message, "Ralat");
                    toastr.options.timeOut = 2000; // 2s
                }
            }
        });
    };
    //update tbl profil gaji end

    //validation form
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();


    $(document).ready(function () {

        $.validator.setDefaults({
            errorElement: "span",
            errorClass: "help-block",
            //	validClass: 'stay',
            highlight: function (element, errorClass) {
                $(element).addClass(errorClass); //.removeClass(errorClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass); //.addClass(validClass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },

            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }

            },

        });


    });
      //validation form end

</script>