@model SUMBER.Models.Modules.SuPekerja

@{
    ViewData["Title"] = "Anggota - Ubah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_JSEdit" />

<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-primary mb-0">Anggota - Ubah</h5>
                <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / <a asp-action="Details" asp-route-id="@Model.Id" class="text-secondary">Papar</a> / Ubah</span>
            </div>
            <div class="col-4 text-right">
                <a asp-action="Index" class="text-secondary"><i class="fas fa-times fa-2x"></i></a>
            </div>
    
        </div>
        <hr class="mt-2"/>
        <form asp-action="Edit" class="needs-validation">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="NoGaji" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="NoKp" class="control-label"></label>
                    <input asp-for="NoKp" class="form-control form-control-sm" readonly />
                    <span asp-validation-for="NoKp" class="text-danger"></span>
                </div>
                <div class="form-group col-md">
                    <label asp-for="Nama" class="control-label"></label>
                    <input asp-for="Nama" class="form-control form-control-sm text-uppercase" required />
                    <span asp-validation-for="Nama" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md">
                    <label asp-for="Jawatan" class="control-label"></label>
                    <input asp-for="Jawatan" class="form-control form-control-sm text-uppercase" />
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md">
                    <label asp-for="Alamat1" class="control-label"></label>
                    <input asp-for="Alamat1" class="form-control form-control-sm text-uppercase" />
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md">
                    <input asp-for="Alamat2" class="form-control form-control-sm text-uppercase" />
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md">
                    <input asp-for="Alamat3" class="form-control form-control-sm text-uppercase" />
                    <span asp-validation-for="Alamat1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md">
                    <label asp-for="Poskod" class="control-label"></label>
                    <input asp-for="Poskod" class="form-control form-control-sm" />
                    <span asp-validation-for="Poskod" class="text-danger"></span>
                </div>
                <div class="form-group col-md">
                    <label asp-for="Bandar" class="control-label"></label>
                    <input asp-for="Bandar" class="form-control form-control-sm text-uppercase" />
                    <span asp-validation-for="Bandar" class="text-danger"></span>
                </div>
                <div class="form-group col-md">
                    <label asp-for="JNegeriId" class="control-label"></label>
                    <select asp-for="JNegeriId" class="form-control form-control-sm">
                        <option value="" hidden>-- Pilih Negeri --</option>
                        @foreach (var s in ViewBag.JNegeri)
                        {
                            <option value="@s.Id">@s.Perihal </option>
                        }
                    </select>
                    <span asp-validation-for="JNegeriId" class="text-danger"></span>
                </div>
            </div>
                    
            <div class="form-row">
                       
                <div class="form-group col-md-4">
                    <label asp-for="NoAkaunBank" class="control-label"></label>
                    <input asp-for="NoAkaunBank" class="form-control form-control-sm" />
                    <span asp-validation-for="NoAkaunBank" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="JBankId" class="control-label"></label>
                    <select asp-for="JBankId" class="form-control form-control-sm" required>
                        <option value="" hidden>-- Pilih Nama Bank --</option>
                        @foreach (var s in ViewBag.JBank)
                        {
                            <option value="@s.Id">@s.Kod - @s.Nama </option>
                        }
                    </select>
                    <span asp-validation-for="JBankId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Emel" class="control-label"></label>
                    <input asp-for="Emel" class="form-control form-control-sm" />
                    <span asp-validation-for="Emel" class="text-danger"></span>
                </div>
              </div>
                  <div class="form-row">
                       <div class="card mb-2 mt-2 col-md-4">
                        <div class="card-body pb-1 pt-1">
                            <div class="form-group mb-0 mt-1">
                                <label class="control-label">Status Kahwin</label>
                            </div>
                         <div class="form-row ml-1">
                         <div class="custom-control custom-radio col-md-4">  
                            <input asp-for="StatusKahwin" class="radio-inline" id="status1" name="StatusKahwin" type="radio" value="0" />
                            <label class="label" for="StatusKahwin">
                                        Bujang
                                    </label>
                            </div>
                            <div class="custom-control custom-radio col-md-4">
                            <input asp-for="StatusKahwin" class="radio-inline" id="status2" name="StatusKahwin" type="radio" value="1" />
                            <label class="label" for="StatusKahwin">
                                        Kahwin
                                    </label>
                        </div>
                        </div>
                        </div>
                    </div>
                        <div class="form-group col-md-4">
                            <label asp-for="BilAnak" class="control-label"></label>
                            <select asp-for="BilAnak" class="form-control form-control-sm">
                                <option value="" hidden>-- Bilangan Anak --</option>
                                <option value="0" >0 ORANG</option>
                                <option value="1" >1 ORANG</option>
                                <option value="2" >2 ORANG</option>
                                <option value="3" >3 ORANG</option>
                                <option value="4" >4 ORANG</option>
                                <option value="5" >5 ORANG</option>
                                <option value="6" >6 ORANG</option>
                                <option value="7" >7 ORANG</option>
                                <option value="8" >8 ORANG</option>
                                <option value="9" >9 ORANG</option>
                                <option value="10" >10 ORANG</option>
                                <option value="11" >LEBIH 10 ORANG</option>
                            </select>
                            <span asp-validation-for="BilAnak" class="text-danger"></span>
                        </div>
                         <div class="form-group col-md-4">
                            <label asp-for="JSuTarafJawatanId" class="control-label"></label>
                            <select asp-for="JSuTarafJawatanId" class="form-control form-control-sm">
                                <option value="" hidden>-- Pilih Taraf Jawatan --</option>
                            @foreach (var s in ViewBag.JSuTarafJawatan)
                            {
                                     <option value="@s.ID">@s.Perihal.ToUpper() </option>
                            }
                            </select>
                            <span asp-validation-for="JSuTarafJawatanId" class="text-danger"></span>
                        </div>
                    </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>

</div>

<!-- Modal Objek -->
<div class="modal fade bd-example-modal-lg" id="modalObjek" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tanggungan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId1" hidden />
                    <div class="form-group">
                        <label class="col-form-label">Nama</label>
                        <input class="form-control form-control-sm" id="moNama">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">No KP</label>
                        <input class="form-control form-control-sm" readonly id="moNokp">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Hubungan</label>
                        <input class="form-control form-control-sm" id="moHubungan">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="modalUpdate1()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Objek End -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
