<script type="text/javascript">

    var jBahagianList = $('#txtJBahagianId').clone();

    //empty cart
    function EmptyCart() {
        $.ajax({
            type: "POST",
            //url: "/AkPV/JsonEmptyCart",
            url: '@Url.Action("JsonEmptyCart", "AbWaran")',
            dataType: "json",
            success: function (msg) {
                $("table tbody#tbodyObjek").empty();
                $("#jumlahObjek").val("0.00");
                $("#txtJBahagianId option").prop('disabled', false);
                
                
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    };
    //empty cart end

    // onchange no Rujukan
    $("body").on('change', "#txtTahun", function () {
        var year = $("#txtTahun").val();
        if (year != null) {
            JsonKod(year);
        }

    });

    function JsonKod(year) {
        $.ajax({
            type: "POST",
            //url: "/AkPV/JsonGetKod",
            url: '@Url.Action("JsonGetKod", "AbWaran")',
            data: {year: year },
            dataType: "json",
            success: function (msg) {
                $("#txtNoRujukan").val(msg.record);
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    }
    // onchange no Rujukan end

    //add tbl objek
    $("body").on("click", "#btnAdd1", function () {
        //Reference the Name and Country TextBoxes.
        var txtKodAkaun = $("#txtKodAkaun");
        var txtJBahagianId = $("#txtJBahagianId");


        if (txtKodAkaun.val() != null) {
            GetCarta(txtKodAkaun.val(),txtJBahagianId.val());
        }
    });

    function GetCarta(id, id2) {
        var Objek = {
            Id: id,
            Id2: id2
        }
        if (id != "" && id2 != null) {
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                //url: "/AbWaran/GetCarta",
                url: '@Url.Action("GetCarta", "AbWaran")',
                data: Objek,
                dataType: "json",
                success: function (r) {
                    //Reference the TextBoxes.
                    var txtKodAkaun = $("#txtKodAkaun");
                    var txtJBahagianId = $("#txtJBahagianId");
                    var txtAmaunObjek = $("#txtAmaunObjek");
                    var txtTK = $("#txtTK");
                    var txtJumlah = $("#jumlahObjek");

                    var AbWaran1 = {
                        AkCartaId: txtKodAkaun.val(),
                        JBahagianId: txtJBahagianId.val(),
                        Amaun: txtAmaunObjek.val(),
                        TK: txtTK.val()
                    }
                    var tahun = $("#txtTahun").val();
                    var jKWId = $("#JKWId").val();
                    var myData = {};
                    myData.AbWaran1 = AbWaran1;
                    myData.tahun = tahun;
                    myData.jKWId = jKWId;

                    $.ajax({
                        type: "POST",
                        //url: "/AbWaran/SaveAbWaran1",
                        url: '@Url.Action("SaveAbWaran1", "AbWaran")',
                        data: myData,
                        dataType: "json",
                        success: function (b) {
                            if (b.result == "OK") {
                                //Sum value to Total text field
                                var sum = 0;
                                sum = parseFloat(txtAmaunObjek.val()) + parseFloat(txtJumlah.val());
                                txtJumlah.val(sum.toFixed(2));

                                //Get the reference of the Table's TBODY element.
                                var tBody = $("#tblObjek > TBODY")[0];
                                //Add Row.
                                var row = tBody.insertRow(-1);

                                //Add akCartaId cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(r.record.id);
                                cell.prop("hidden", !this.checked);

                                //Add kod cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(r.record.kod + ' - ' + r.record.perihal);

                                //Add bahagianId cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(r.bahagian.id);
                                cell.prop("hidden", !this.checked);

                                //Add bahagian cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(r.bahagian.kod + ' - ' + r.bahagian.perihal);

                                //Add amaun cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(parseFloat(txtAmaunObjek.val()).toFixed(2));
                                cell.addClass('text-right');

                                //Add TK cell.
                                var cell = $(row.insertCell(-1));
                                cell.html(txtTK.val());

                                //Add Edit Button cell.
                                cell = $(row.insertCell(-1));

                                var btnUpdate1 = $("<button class='btn ac-primary btn-sm' type='button' id='btnUpdate1' onclick='Update1(this)'><i class='fas fa-edit'></i></button>");
                                cell.append(btnUpdate1);

                                //Add Button cell.
                                cell = $(row.insertCell(-1));
                                var btnRemove1 = $("<button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)'><i class='fas fa-trash'></i></button>");
                                cell.append(btnRemove1);
                                //Clear the TextBoxes.
                                txtKodAkaun.val("").trigger('change');
                                txtAmaunObjek.val("0.00");
                                txtTK.val("+");

                                if ($('#FlJenisPindahan1').is(':checked')) {

                                }
                                else {
                                    $("#txtJBahagianId option[value!=" + txtJBahagianId.val() + "]").prop('disabled', true);
                                }

                                if ($('#FlJenisWaran2').is(':checked')) {
                                    // check jumlah foreach row
                                    JsonCheckJumlah();
                                    
                                }

                            }
                            else {
                                toastr.error(b.message,"Ralat");
                                toastr.options.timeOut = 2000; // 2s
                            }

                        }
                    });



                }
            });
        }

    }
    //add tbl objek end

    // function check jumlah if jenis waran pindahan (WPP)
    function JsonCheckJumlah() {
        $.ajax({
            type: "POST",
            //url: "/AkPV/JsonGetKod",
            url: '@Url.Action("JsonCheckJumlahFromCart", "AbWaran")',
            dataType: "json",
            success: function (msg) {
                if (msg.result == "OK") {
                    $("#btnSave").removeAttr("hidden");
                } else {
                    $("#btnSave").prop("hidden", true);
                }
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
    }
    // function WPP end

    //remove tbl objek
    function Remove1(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        var namaAkaun = $("TD", row).eq(1).html();
        var bahagian = $("TD", row).eq(2).html();
        var amaun = $("TD", row).eq(4).html();
        var txtJumlah = $("#jumlahObjek");
        if (confirm("Hapus kod Akaun : " + namaAkaun + " ?")) {
            //Get the reference of the Table.
            var table = $("#tblObjek")[0];

            //Sum value to Total text field
            var sum = 0;
            sum = parseFloat(txtJumlah.val()) - parseFloat(amaun);
            txtJumlah.val(sum.toFixed(2));

            var AbWaran1 = {
                AkCartaId: name,
                JBahagianId: bahagian
            }
            if (name != null) {
                $.ajax({
                    type: "POST",
                    //url: "/AbWaran/RemoveAbWaran1",
                    url: '@Url.Action("RemoveAbWaran1", "AbWaran")',
                    data: AbWaran1,
                    dataType: "json",
                    success: function (r) {
                        //Delete the Table row using it's Index.
                        table.deleteRow(row[0].rowIndex);
                        if ($('#FlJenisWaran2').is(':checked')) {
                            // check jumlah foreach row
                            JsonCheckJumlah();
                        }
                    }
                });
            }

        }
    };
    //remove tbl objek end

    //update tbl objek
    function Update1(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var akCartaId = $("TD", row).eq(0).html();
        var bahagianId = $("TD", row).eq(2).html();

        var AbWaran1 = {
            AkCartaId: akCartaId,
            JBahagianId: bahagianId
        }
        $.ajax({
            type: "POST",
            //url: "/AbWaran/GetAnItemCartAbWaran1",
            url: '@Url.Action("GetAnItemCartAbWaran1", "AbWaran")',
            data: AbWaran1,
            dataType: "json",
            success: function (r) {
                //insert data in modal objek
                $("#moId1").val(r.record.id);
                $("#moKodAkaun").val(r.record.akCartaId);
                $("#moBahagian").val(r.record.jBahagianId);
                $("#moAmaun1").val(r.record.amaun.toFixed(2));
                $("#moTK").val(r.record.tk);

                //show modal objek
                $("#modalObjek").modal({ backdrop: 'static', keyboard: false });

            }
        });
    };

    function modalUpdate1() {
        var amaun = $("#moAmaun1").val();
        var akCartaId = $("#moKodAkaun").val();
        var bahagianId = $("#moBahagian").val();
        var tK = $("#moTK").val();
        var jumlah = $("#jumlahObjek");

        var AbWaran1 = {
            akCartaId: akCartaId,
            JBahagianId: bahagianId,
            Amaun: amaun,
            TK: tK
        }
        var tahun = $("#txtTahun").val();
        var jKWId = $("#JKWId").val();
        var myData = {};
        myData.AbWaran1 = AbWaran1;
        myData.tahun = tahun;
        myData.jKWId = jKWId;

        $.ajax({
            type: "POST",
            //url: "/AbWaran/SaveCartAbWaran1",
            url: '@Url.Action("SaveCartAbWaran1", "AbWaran")',
            data: myData,
            dataType: "json",
            success: function (b) {
                //insert notification here

                if (b.result == "OK") {
                    $.ajax({
                        type: "POST",
                        //url: "/AbWaran/GetAllItemCartAbWaran1",
                        url: '@Url.Action("GetAllItemCartAbWaran1", "AbWaran")',
                        dataType: "json",
                        success: function (r) {

                            //refresh updated table objek
                            $("table tbody#tbodyObjek").empty();
                            var sum = 0;
                            if (r.record.length > 0) {
                                for (var i = 0; i < r.record.length; i++) {
                                    var item1 = r.record[i];
                                    var str = "<tr><td id='akCartaId' hidden>" + item1.akCartaId +
                                        "</td><td>" + item1.akCarta.kod + " - " + item1.akCarta.perihal +
                                        "<td id='jBahagianId' hidden>" + item1.jBahagianId +
                                        "</td><td>" + item1.jBahagian.kod + " - " + item1.jBahagian.perihal +
                                        "</td><td class='text-right'>" + (item1.amaun).toFixed(2) +
                                        "</td><td>" + item1.tk +
                                        "</td><td>" +
                                        "<button class='btn ac-primary btn-sm' type='button' id='btnUpdate1' data-toggle='modal' data-target='#modalObjek' onclick='Update1(this)'><i class='fa fa-edit' ></i></button>" +
                                        "</td><td>" +
                                        "<button class='btn ac-danger btn-sm' type='button' id='btnRemove1' onclick='Remove1(this)'><i class='fas fa-trash' ></i></button>" +
                                        "</td><tr>";
                                    $("table tbody#tbodyObjek").append(str);
                                    sum += item1.amaun;
                                }
                            }
                            jumlah.val(sum.toFixed(2));

                            if ($('#FlJenisWaran2').is(':checked')) {
                                // check jumlah foreach row
                                JsonCheckJumlah();
                            }
                        }
                    });
                } else {
                    toastr.error(b.message, "Ralat");
                    toastr.options.timeOut = 2000; // 2s
                }
            }
        });
    };
    //update tbl objek end

    //validation form
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();


    $(document).ready(function () {

        $.validator.setDefaults({
            errorElement: "span",
            errorClass: "help-block",
            //	validClass: 'stay',
            highlight: function (element, errorClass) {
                $(element).addClass(errorClass); //.removeClass(errorClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass); //.addClass(validClass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },

            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }

            },

        });

        // onchange jenis waran
        $('input[type=radio][name=FlJenisWaran]').on('change', function () {
            EmptyCart();
            $("#btnSave").removeAttr("hidden");
            $("#FlJenisPindahan0").prop("checked", true);
            $("#FlJenisPindahan1").prop("checked", false);

            switch ($(this).val()) {
                case "0":
                    $("#divJenisPindahan").prop("hidden", true);
                    break;
                case "1":
                    $("#divJenisPindahan").prop("hidden", true);
                    break;
                case "2":
                    $("#divJenisPindahan").removeAttr('hidden');
                    break;
            }
        });
        // onchange jenis waran end

        // onchange jenis waran
        $('input[type=radio][name=FlJenisPindahan]').on('change', function () {
            EmptyCart();
            $("#btnSave").removeAttr("hidden");

        });
        // onchange jenis waran end

    });
    //validation form end
</script>
