@model SUMBER.Models.Modules.AbWaran

@{
    ViewData["Title"] = "Waran - Papar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_JSDetails" />
<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-dark mb-0">Waran - Papar</h5>
                <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / Papar</span>
            </div>
            <div class="col-4 text-right">
                <a asp-action="Index" class="text-secondary"><i class="fas fa-times fa-2x"></i></a>
            </div>

        </div>
        <hr class="mt-2" />
        <div class="form-row">
            <div class="col-md-6">
                <div class="card mb-2">
                    <div class="card-body pb-1 pt-1">
                        <div class="form-group mb-0 mt-1">
                            <label class="control-label">Jenis Waran</label>
                        </div>
                        <div class="form-row col-sm ml-2">
                            <div class="custom-control custom-radio col-md-4 ">
                                <input class="custom-control-input" type="radio" id="0" asp-for="FlJenisWaran" value="0">
                                <label class="custom-control-label" for="0">
                                    WPA (Asal)
                                </label>
                            </div>
                            <div class="custom-control custom-radio col-md-4">
                                <input class="custom-control-input" type="radio" asp-for="FlJenisWaran" id="1" value="1">
                                <label class="custom-control-label" for="1">
                                    WPT (Tambah / Tarik Balik)
                                </label>
                            </div>
                            <div class="custom-control custom-radio col-md-4">
                                <input class="custom-control-input" type="radio" asp-for="FlJenisWaran" id="2" value="2">
                                <label class="custom-control-label" for="2">
                                    WPP (Pindahan)
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-2" id="divJenisPindahan">
                    <div class="card-body pb-1 pt-1">
                        <div class="form-group mb-0 mt-1">
                            <label class="control-label">Jenis Pindahan</label>
                        </div>
                        <div class="form-row col-sm ml-2">
                            <div class="custom-control custom-radio col-md-6 ">
                                <input class="custom-control-input" type="radio" id="FlJenisPindahan0" asp-for="FlJenisPindahan" value="0" checked>
                                <label class="custom-control-label" for="FlJenisPindahan0">
                                    Dalam Bahagian
                                </label>
                            </div>
                            <div class="custom-control custom-radio col-md-6">
                                <input class="custom-control-input" type="radio" asp-for="FlJenisPindahan" id="FlJenisPindahan1" value="1">
                                <label class="custom-control-label" for="FlJenisPindahan1">
                                    Antara Bahagian
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-row mb-2">
            <div class="col-md-1">
                <div class="form-group">
                    <label asp-for="Tahun" class="control-label"></label>
                    <input asp-for="Tahun" class="form-control form-control-sm" id="txtTahun" readonly />
                    <span asp-validation-for="Tahun" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Tarikh" class="control-label"></label>
                    <input value="@Model.Tarikh.ToString("dd/MM/yyyy")" class="form-control form-control-sm" readonly />
                    <span asp-validation-for="Tarikh" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" asp-for="JKWId"></label>
                    <input class="form-control form-control-sm" value="@Model.JKW.Kod - @Model.JKW.Perihal " readonly />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="NoRujukan" class="control-label"></label>
                    <input id="txtNoRujukan" asp-for="NoRujukan" class="form-control form-control-sm" readonly />
                </div>
            </div>

        </div>

        <div class="form-row mb-2">
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body p-1">
                        <div class="form-group col-sm">
                            <label asp-for="FlCetak" class="control-label"></label>
                            <div class="custom-control custom-radio">
                                <input asp-for="FlCetak" type="radio" id="FlCetak1" name="FlCetak" class="custom-control-input" value="0" checked>
                                <label class="custom-control-label" for="FlCetak1">Belum</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input asp-for="FlCetak" type="radio" id="FlCetak2" name="FlCetak" class="custom-control-input" value="1">
                                <label class="custom-control-label" for="FlCetak">Sudah</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body p-1">
                        <div class="form-group col-sm">
                            <label asp-for="FlPosting" class="control-label"></label>
                            <div class="custom-control custom-radio">
                                <input asp-for="FlPosting" type="radio" id="FlPosting1" name="FlPosting" class="custom-control-input" value="0" checked>
                                <label class="custom-control-label" for="FlPosting">Belum</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input asp-for="FlPosting" type="radio" id="FlPosting2" name="FlPosting" class="custom-control-input" value="1">
                                <label class="custom-control-label" for="FlPosting">Sudah</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body p-1">
                        <div class="form-group col-sm">
                            <label class="control-label">Batal</label>
                            <div class="custom-control custom-radio">
                                <input asp-for="FlHapus" type="radio" id="FlHapus1" name="FlHapus" class="custom-control-input" value="0" checked>
                                <label class="custom-control-label" for="FlHapus">Tidak</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input asp-for="FlHapus" type="radio" id="FlHapus1" name="FlHapus" class="custom-control-input" value="1">
                                <label class="custom-control-label" for="FlHapus">Ya</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @*table Objek*@
        <div class="card box-shadow mb-3">
            <div class="card-header">
                <h6>Objek</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table id="tblObjek" class="table table-sm" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th hidden>Id</th>
                                <th style="width:40%%">Kod</th>
                                <th style="width:40%%">Bahagian</th>
                                <th style="width:10%%" class="text-right">Amaun RM</th>
                                <th style="width:10%%" class="text-left">TK</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyObjek">

                            @foreach (var item in ViewBag.abWaran1)
                            {
                                <tr id="@item.Id">
                                    <td id="akCartaId" hidden>@item.AkCartaId</td>
                                    <td>@item.AkCarta.Kod - @item.AkCarta.Perihal</td>
                                    <td id="bahagianId" hidden>@item.JBahagianId</td>
                                    <td>@item.JBahagian?.Kod - @item.JBahagian?.Perihal</td>
                                    <td class="editable-txt text-right" id="td1Amaun">@item.Amaun</td>
                                    <td class="editable-txt text-left">@item.TK</td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>

                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <label class="control-label">Jumlah Objek</label>
                    <input class="form-control form-control-sm" id="jumlahObjek" value="@Model.Jumlah" readonly />
                </div>
            </div>
        </div>
        @*table Objek end*@

        <hr />
        <div class="form-group">
            @if (Model.FlPosting == 1)
            {
            }
            else
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn ac-primary btn-sm">Ubah</a>
            }
            <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
        </div>
    </div>
</div>
