@model SUMBER.Models.Modules.AbWaran

@{
    ViewData["Title"] = "Waran - Ubah";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_JSEdit" />
<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-primary mb-0">@ViewData["Title"]</h5>
                <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / <a asp-action="Details" asp-route-id="@Model.Id" class="text-secondary">Papar</a> / Ubah</span>
            </div>
            <div class="col-4 text-right">
                <a asp-action="Index" class="text-secondary"><i class="fas fa-times fa-2x"></i></a>
            </div>
    
        </div>
        <hr class="mt-2"/>
        <form asp-action="Edit" class="needs-validation">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="card mb-2" hidden>
                <div class="card-body pb-1 pt-1">
                    <div class="form-group mb-0 mt-1">
                        <label class="control-label">Jenis Waran</label>
                    </div>
                    <div class="form-row col-sm ml-2">
                        <div class="custom-control custom-radio col-md-4 ">
                            <input class="custom-control-input" type="radio" id="FlJenisWaran0" asp-for="FlJenisWaran" value="0" checked>
                            <label class="custom-control-label" for="FlJenisWaran0">
                                WPA (Asal)
                            </label>
                        </div>
                        <div class="custom-control custom-radio col-md-4">
                            <input class="custom-control-input" type="radio" asp-for="FlJenisWaran" id="FlJenisWaran1" value="1">
                            <label class="custom-control-label" for="FlJenisWaran1">
                                WPT (Tambah / Tarik Balik)
                            </label>
                        </div>
                        <div class="custom-control custom-radio col-md-4">
                            <input class="custom-control-input" type="radio" asp-for="FlJenisWaran" id="FlJenisWaran2" value="2">
                            <label class="custom-control-label" for="FlJenisWaran2">
                                WPP (Pindahan)
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            @if (Model.FlJenisWaran == 2)
            {
                <div class="card mb-2" id="divJenisPindahan">
                    <div class="card-body pb-1 pt-1">
                        <div class="form-group mb-0 mt-1">
                            <label class="control-label">Jenis Pindahan</label>
                        </div>
                        <div class="form-row col-sm ml-2">
                            <div class="custom-control custom-radio col-md-6 ">
                                <input class="custom-control-input" type="radio" id="FlJenisPindahan0" asp-for="FlJenisPindahan" value="0" checked>
                                <label class="custom-control-label" for="FlJenisPindahan0">
                                    Dalam Bahagian
                                </label>
                            </div>
                            <div class="custom-control custom-radio col-md-6">
                                <input class="custom-control-input" type="radio" asp-for="FlJenisPindahan" id="FlJenisPindahan1" value="1">
                                <label class="custom-control-label" for="FlJenisPindahan1">
                                    Antara Bahagian
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="form-row">
                <div class="col-md-1">
                    <div class="form-group">
                        <label asp-for="Tahun" class="control-label"></label>
                        <input asp-for="Tahun" class="form-control form-control-sm" id="txtTahun" readonly />
                        <span asp-validation-for="Tahun" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Tarikh" class="control-label"></label>
                        <input asp-for="Tarikh" class="form-control form-control-sm" required />
                        <span asp-validation-for="Tarikh" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="JKWId" class="control-label"></label><span class="text-danger control-label">*</span>
                        <select class="form-control form-control-sm text-uppercase" asp-for="JKWId" required>
                            @foreach (var s in ViewBag.JKW)
                            {
                                <option value="@s.Id">@s.Kod - @s.Perihal </option>
                            }
                        </select>
                        <span asp-validation-for="JKWId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="NoRujukan" class="control-label"></label>
                        <input id="txtNoRujukan" asp-for="NoRujukan" class="form-control form-control-sm" readonly />
                        <span asp-validation-for="NoRujukan" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*table Objek*@
            <div class="card box-shadow mb-3 mt-2">
                <div class="card-header">
                    <h6>Objek</h6>
                </div>
                <div class="card-body">
                    <table id="tblObjek" class="table table-sm nowrap" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:40%%">Kod</th>
                                <th style="width:40%%">Bahagian</th>
                                <th style="width:10%%" class="text-right">Amaun RM</th>
                                <th style="width:10%%">TK</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyObjek">
                            @foreach (var item in ViewBag.abWaran1)
                            {
                                <tr id="@item.Id">
                                    <td id="akCartaId" hidden>@item.AkCartaId</td>
                                    <td>@item.AkCarta.Kod - @item.AkCarta.Perihal</td>
                                    <td id="bahagianId" hidden>@item.JBahagianId</td>
                                    <td>@item.JBahagian?.Kod - @item.JBahagian?.Perihal</td>
                                    <td class="editable-txt text-right" id="td1Amaun">@item.Amaun</td>
                                    <td class="editable-txt text-left">@item.TK</td>
                                    <td>
                                        <button class="btn ac-primary btn-sm" type="button" id="btnUpdate1" data-toggle="modal" data-target="#modalObjek" onclick="Update1(this)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn ac-danger btn-sm" type="button" id="btnRemove1" onclick="Remove1(this)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td id="akCartaId" hidden></td>
                                <td style="width:40%">
                                    <select class="form-control form-control-sm select2" id="txtKodAkaun">
                                        <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                        @foreach (var s in ViewBag.AkCarta)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control form-control-sm select2" id="txtJBahagianId">
                                        <option value="" selected disabled>-- Sila Pilih Bahagian -- </option>
                                        @foreach (var s in ViewBag.JBahagian)
                                        {
                                            <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                        }
                                    </select>
                                </td>
                                <td style="width:40%"><input class="form-control form-control-sm" type="number" id="txtAmaunObjek" step="0.01" value="0.00"></td>
                                <td>
                                    <select class="form-control form-control-sm text-uppercase" id="txtTK">
                                        <option value="+" selected>+</option>
                                        <option value="-">-</option>
                                    </select>
                                </td>
                                <td><button class="btn ac-success btn-sm" type="button" id="btnAdd1"><i class="fas fa-plus"></i></button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="form-group pb-2">
                        <label asp-for="Jumlah" class="control-label">Jumlah Objek</label>
                        <input asp-for="Jumlah" class="form-control form-control-sm" id="jumlahObjek" readonly />
                        <span asp-validation-for="Jumlah" class="text-danger"></span>
                    </div>
                </div>

            </div>
            @*table Objek end*@

            <hr />
            <div class="form-group">
                <input type="submit" value="Simpan" class="btn ac-primary btn-sm" id="btnSave" />
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </div>
        </form>
    </div>

</div>

<!-- Modal Objek -->
<div class="modal fade bd-example-modal-lg" id="modalObjek" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Objek</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="moId1" hidden />
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-form-label">Kod Akaun</label>
                                <select class="form-control form-control-sm" id="moKodAkaun" disabled>
                                    <option value="" disabled selected>-- Pilih Kod Akaun --</option>
                                    @foreach (var s in ViewBag.AkCarta)
                                    {
                                        <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-form-label">Bahagian</label>
                                <select class="form-control form-control-sm" id="moBahagian" disabled>
                                    @foreach (var s in ViewBag.JBahagian)
                                    {
                                        <option value="@s.Id">@s.Kod - @s.Perihal </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-form-label">Amaun</label>
                                <input type="number" class="form-control form-control-sm" id="moAmaun1">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-form-label">TK</label>
                                <select class="form-control form-control-sm text-uppercase" id="moTK">
                                    <option value="+" selected>+</option>
                                    <option value="-">-</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn ac-success btn-sm" data-dismiss="modal" onclick="modalUpdate1()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Objek End -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
