@model IEnumerable<SUMBER.Models.Modules.AbWaran>

@{
    ViewData["Title"] = "Waran";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_JSIndex" />

<div class="card box-shadow">
    <div class="card-body">
        <partial name="_TitleIndexPartial" />

        @*div carian*@
        <div class="card mb-2">
            <div class="card-body pl-3 pb-2 ">
                <label class="form-control-plaintext" for="searchselect">Carian : </label>

                <div class="form-actions no-color mb-2">
                    <form asp-action="Index" method="get">
                        <div class="form-row">
                            <div class="col-sm-3 mb-2">
                                <select class="custom-select form-control-sm"
                                        name="searchColumn"
                                        asp-items="@ViewBag.SearchColumn" id="searchColumn"></select>
                            </div>
                            <div class="col-sm-9 mb-2">
                                <div class="form-row">
                                    <div class="col-10">
                                        <div class="form-row">
                                            <div class="col-12">
                                                <input class="form-control form-control-sm" type="text" name="searchString" id="myInput" value="@ViewBag.SearchData1" />
                                            </div>
                                            <div class="col-6" id="myInputDate1">
                                                <input class="form-control form-control-sm mb-2" type="date" name="searchDate1" id="inputTarikh1" value="@ViewBag.SearchData1" />
                                            </div>
                                            <div class="col-6" id="myInputDate2">
                                                <input class="form-control form-control-sm" type="date" name="searchDate2" id="inputTarikh2" value="@ViewBag.SearchData2" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="btn text-info btn-sm" data-toggle="tooltip" data-placement="top" title="Cari"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        @*div carian end*@

        @*div table*@

        <div class="table-responsive table-sm">
            <table class="table table-bordered table-hover display compact nowrap" width="100%">
                <thead>
                    <tr>
                        <th width="2%">Bil</th>
                        <th>
                            No Rujukan
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tarikh)
                        </th>
                        <th style="width:2%">
                            Tahun
                        </th>
                        <th>
                            Jenis
                        </th>
                        <th>
                            KW
                        </th>
                        <th>
                            Bahagian
                        </th>
                        <th>
                            Jumlah
                        </th>
                        <th>
                            Cetak
                        </th>
                        <th>
                            Posting
                        </th>
                        <th>
                            Batal
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var tabletype = item.FlHapus == 1 ? "table-danger" : null;
                        <tr class="@tabletype">
                            <td>
                            </td>
                            <td>
                                @item.NoRujukan.Substring(3)
                            </td>
                            <td>
                                @item.Tarikh.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.Tahun
                            </td>
                            @switch (item.FlJenisWaran)
                            {
                                case 1:
                                    <td>WPT</td>
                                    break;
                                case 2:
                                    <td>WPP</td>
                                    break;
                                default:
                                    <td>WPA</td>
                                    break;
                            }
                            <td>
                                @item.JKW.Kod
                            </td>
                            <td>
                                @item.JBahagian?.Kod
                            </td>
                            <td class="text-right">
                                @Convert.ToDecimal(item.Jumlah).ToString("#,##0.00")
                            </td>
                            <td>
                                @if (item.FlCetak == 0)
                                {
                                    <label class="mb-0">BELUM</label>
                                }
                                else
                                {
                                    <label class="mb-0">SUDAH</label>
                                }
                            </td>
                            <td>
                                @if (item.FlPosting == 0)
                                {
                                    <label class="mb-0">BELUM</label>
                                }
                                else
                                {
                                    <label class="mb-0">SUDAH</label>
                                }
                            </td>
                            <td>
                                @if (item.FlHapus == 0)
                                {
                                    <label class="mb-0">TIDAK</label>
                                }
                                else
                                {
                                    <label class="mb-0">YA</label>
                                }
                            </td>
                            <td class="action-button" width="5%">
                                <div class="btn-group" role="group" aria-label="action">
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn text-primary btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Ubah/Papar"><i class="fas fa-edit"></i></a>
                                    <a asp-action="PrintPdf" asp-route-id="@item.Id" class="btn text-secondary btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Cetak" target="_blank"><i class="fas fa-print"></i></a>
                                    @if (item.FlHapus == 0)
                                    {
                                        if (item.FlPosting == 0)
                                        {
                                            if (item.Jumlah != 0)
                                            {
                                                if (item.FlCetak != 0)
                                                {
                                                    <a asp-action="Posting" asp-route-id="@item.Id" class="btn text-success btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Lulus">
                                                        <i class="fas fa-file-signature"></i>
                                                    </a>
                                                }

                                            }

                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn text-danger btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Hapus"><i class="fas fa-trash"></i></a>

                                        }
                                        else
                                        {
                                            <a asp-action="UnPosting" asp-route-id="@item.Id" class="btn text-warning btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Batal Lulus">
                                                <i class="fas fa-file"></i>
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        if (User.IsInRole("Supervisor") || User.IsInRole("SuperAdmin"))
                                        {
                                            <a asp-action="Rollback" asp-route-id="@item.Id" class="btn text-info btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Rollback">
                                                <i class="fas fa-trash-restore"></i>
                                            </a>

                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @*div table end*@
    </div>

</div>