@model IEnumerable<SUMBER.Models.Sumber.JSuTarafJawatan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perihal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlHapus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarHapus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuPekerjaMasukId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarMasuk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuPekerjaKemaskiniId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserIdKemaskini)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TarKemaskini)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perihal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlHapus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarHapus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuPekerjaMasukId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarMasuk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuPekerjaKemaskiniId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserIdKemaskini)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TarKemaskini)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
