@model SUMBER.Models.Sumber.JSuKodGaji

@{
    ViewData["Title"] = "Kod Gaji - Hapus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase text-danger mb-0">Kod Gaji - Hapus</h5>
                <span class="ac-ref"><a asp-action="Index" class="text-secondary">Indeks</a> / Hapus</span>
            </div>
            <div class="col-4 text-right">
                <a asp-action="Index" class="text-secondary"><i class="fas fa-times fa-2x"></i></a>
            </div>

        </div>
        <hr class="mt-2"/>
            <p class="text-danger">Anda pasti untuk menghapuskan maklumat berikut?</p>
            <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Kod)
            </dt>
            <dd class="col-sm-10">
                @Model.Kod.ToUpper()
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Perihal)
            </dt>
            <dd class="col-sm-10">
                @Model.Perihal.ToUpper()
            </dd>
             <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FlJenis)
            </dt>
            <dd class="col-sm-10" >
                @if (Model.FlJenis == 0)
                {
                    @Html.DisplayName("ELAUN")
                }
                else
                {
                    @Html.DisplayName("POTONGAN")
                }
                
            </dd>
        </dl>

        <hr />
        <div class="form-group">
             <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Hapus" class="btn ac-danger btn-sm" /> 
                <a asp-action="Index" class="btn ac-secondary btn-sm" style="width:auto">Batal</a>
            </form>

        </div>
    </div>

</div>