@model IEnumerable<SUMBER.Models.Sumber.JSuKodGaji>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_JSIndex" />

<div class="card box-shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <h5 class="text-uppercase mb-0">Senarai Kod Gaji</h5>
                <span class="ac-ref">Indeks</span>
            </div>
            <div class="col-4 text-right">
                <a class="text-right btn ac-success" asp-action="Create">Tambah Baru</a>
            </div>

        </div>
        <hr class="mt-2"/>
        <div class="card mb-2">
            <div class="card-body pl-3 pb-2">
                <label class="form-control-plaintext" for="columnSearch">Carian : </label>
                <div class="form-actions no-color mb-2">
                    <div class="form-row">
                        <div class="col-sm-2 mb-2">
                            <select class="custom-select form-control-sm" id="columnSearch">
                                <option value="" selected>Semua</option>
                                <option value=".kod">Kod</option>
                                <option value=".perihal">Perihal</option>
                                <option value=".fljenis">Jenis</option>
                            </select>
                        </div>
                        <div class="col-sm-8 mb-2">
                            <input class="form-control form-control-sm" type="text" id="myInput" style="text-transform:uppercase" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap table-sm nowrap compact" width="100%" id="IndexTable">
                <thead>
                    <tr>
                        <th width="5%">Bil</th>
                        <th class="kod" width="5%">
                            @Html.DisplayNameFor(model => model.Kod)
                        </th>
                        <th class="perihal">
                            @Html.DisplayNameFor(model => model.Perihal)
                        </th> 
                        <th class="fljenis" width="10%">
                            @Html.DisplayNameFor(model => model.FlJenis)
                        </th> 
                        <th width="5%"></th>
                    </tr> 
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var tabletype = item.FlHapus == 1 ? "table-danger" : null;
                            <tr class="@tabletype text-uppercase">
                                <td></td>
                                <td>
                                @Html.DisplayFor(modelItem => item.Kod)
                                </td>
                                <td>
                                @item.Perihal
                                </td>
                                <td>
                                @if (item.FlJenis == 0)
                                {
                                    @Html.DisplayName("ELAUN")
                                }
                                else
                                {
                                    @Html.DisplayName("POTONGAN")
                                }
                                </td>
                                
                                <td width="5%" class="action-button text-center">
                                    <div class="btn-group" role="group" aria-label="action">
                                    @if (item.FlHapus == 0)
                                    {
                                                    <a asp-action="Details" asp-route-id="@item.ID"
                                            class="btn text-primary btn-sm bg-white" type="button"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Ubah/Papar"><i class="fas fa-edit"></i></a>
                                                    <a asp-action="Delete" asp-route-id="@item.ID"
                                            class="btn text-danger btn-sm bg-white" type="button"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Hapus"><i class="fas fa-trash"></i></a>
                                    }
                                    else
                                    {
                                        if (User.IsInRole("SuperAdmin"))
                                        {
                                                                <a asp-action="Rollback" asp-route-id="@item.ID" class="btn text-info btn-sm bg-white" type="button" data-toggle="tooltip" data-placement="top" title="Rollback">
                                                                    <i class="fas fa-trash-restore"></i>
                                                                </a>

                                        }
                                    }
                                                </div>
                                        </td>
                                    
                                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>